* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: segoe script;
    overflow-x: hidden;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    /*Удаление выделения input*/
}

a {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 2px#61b4fc;
    background: #ff7b00;
    width: 100%;
    height: 100%;
    margin: 3.4%;
    padding: 14px;
    border: 1px solid #ff7b00;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
}

a:hover {
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
}

.container {
    background: url();
    background-size: 100%;
    margin: 0px auto;
    min-width: 1340px;
    max-width: 1400px;
    text-align: left;
    border: 0px solid #000;
}

body {
    color: #333333;
}

.container {
    background: url();
    background-size: 100%;
    margin: 0px auto;
    min-width: 1340px;
    max-width: 1360px;
    text-align: left;
    border: 0px solid #000;
}

.header {
    background: #ff7b00b6;
    color: white;
    font-family: segoe script;
}

.page {
    background: url(https://cdn.discordapp.com/attachments/657245605667799047/657253789887103010/Metro_Exodus_Tunnel_556214_3840x2400.jpg) no-repeat;
    background-size: 100%;
    width: 100%;
}

.menu a {
    font-family: segoe script;
    color: white;
    padding: 4px;
    border-radius: 4px;
}

.menu a:hover {
    background: #c00505;
}

.menu {
    margin-top: 20px;
    font-size: 1.3em;
    text-align: center;
    margin-left: 5px;
    width: 100%;
    padding: 0px 10px 10px 5px;
    float: left;
}

.aboutus {
    float: left;
    margin: 50px;
    height: 281px;
    width: 92%;
    border-radius: 20px;
}

h1 {
    font-size: 1.4em;
    text-indent: 20;
    color: rgb(0, 0, 0);
    background-color: rgba(165, 142, 42, 0.438);
}

.footer {
    position: relative;
    margin-top: 60%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #ff7b00b6;
    color: white;
    font-family: segoe script;
}